.cards{
    margin-top: 20px;
    border-bottom: 1px solid #21212166;
}
.cards__list{
    margin:0;
    padding:0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 413px);
    justify-content: space-between;
    column-gap: 20px;
}