.profile{
    display:flex;
    border-bottom: 1px #21212166 solid;
    margin: 34px 0 20px 0;
}

.profile__image{
    padding:0 20px 20px 0;
}
.profile__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__column-title{
    gap:12px;
}

.profile__title{
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color:#212121;
}

.profile__subtitle{
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color:#212121B2;
}
.profile__edit-button{
    display:flex;
    gap:8px;
    opacity:70%;
}

.profile__edit-button:hover{
    opacity: 100%;
    cursor: pointer;
}

.profile__edit-button_caption{
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color:#212121;
}

.profile__new-post{
    align-self: flex-end;
    display:flex;
    margin: 0 0 20px auto;
    width: 149px;
    height: 52px;
    justify-content: center;
    align-items: center;
    gap:8px;
    border-radius: 8px;
    background-color: #212121;
}
.profile__new-post:hover{
    opacity: 80%;
    cursor: pointer;
}

.profile__new-post_add-icon{
    height: 12px;
    width: 12px;
}

.profile__new-post_caption{
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FCF5E5;
}

@media screen and (max-width:320px) {
    .profile{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .profile__image{
        padding:0;
    }

    .profile__edit-button{
        align-self: center;
    }
}