.profile{
    display:flex;
    border-bottom: 1px #21212166 solid;
    padding: 34px 0 20px 0;
    margin-bottom: 20px;
}

.profile__image{
    border-radius: 8px;
    height: 190px;
    width: 190px;
    object-fit: cover;
}

.profile__avatar-container{
    margin:0 20px 0 0;
    height: 190px;
    width: 190px;
    position:relative;
}

.profile__avatar-btn{
    position:absolute;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 8px;
    visibility:hidden;
    background-color: #00000080;
    border:none;
    padding:0;
}

.profile__avatar-container:hover .profile__avatar-btn{
    visibility: visible;
}

.profile__avatar-edit-container{
    margin: 0 0 12px 0;
    padding: 0;
}
.profile__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__title{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    color:#212121;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
    margin: 0 0 12px 0;
}

.profile__subtitle{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color:#212121B2;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
    margin:0;
}
.profile__edit-button{
    display:flex;
    gap:8px;
    opacity:70%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color:#212121;
    background-color: transparent;
    border: none;
    height: 16px;
    padding:0;
}

.profile__edit-button:hover{
    opacity: 100%;
    cursor: pointer;
}

.profile__new-post{
    align-self: flex-end;
    display:flex;
    margin: 0 0 0 auto;
    width: 149px;
    height: 52px;
    justify-content: center;
    align-items: center;
    gap:8px;
    border-radius: 8px;
    background-color: #212121;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color:#FCF5E5;
    border:0;
}
.profile__new-post:hover{
    opacity: 80%;
    cursor: pointer;
}

@media screen and (max-width:568px) {
    .profile{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding:0;
        margin-top:20px;
    }

    .profile__image{
        padding:0;
        height: 80px;
        width: 80px;
    }

    .profile__avatar-container{
        height: 80px;
        width: 80px;
        font-size:0;
    }

    .profile__avatar-btn{
        height: 23px;
        width: 23px;
        visibility: visible;
        top: 52px;
        left:52px;
        bottom:0;
        right:0;
    }
    .profile__avatar-edit-container{
        margin:0;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .profile__column-title{
        margin-bottom:32px;
    }
    
    .profile__edit-button{
        margin-bottom:20px;
    }
    .profile__title{
        font-size:20px;
        line-height:100%;
    }

    .profile__edit-button{
        align-self: center;
    }

    .profile__new-post{
        margin:0 0 20px 0;
        width:288px;
        align-self: center;
    }
}